header {

    background-color: yellow;
    text-align: center;
    font-style: italic;
    font-weight: bold
}

/*
body {
    background-image: url("/utils/img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
    height: 100vh;
}
*/

body {
   font-family: "Raleway", sans-serif;
}

.titulo {
    text-align: center;
}

p {
    text-align: center;
}

.nav-list {
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #2c3e50;
}

.bg-primario {
    background-color: blue;
}

footer {

    background-color: yellow;
    text-align: center;
    font-style: italic;
    font-weight: bold
}

footer i {
  font-size: 30px;
}